<div>
  <h4 class="text-center my-4">Login</h4>

  <form class="form mt-4 my-4" (ngSubmit)="login()">

    <div class="form-group my-4">
      <input class="form-control" placeholder="Nome do usuário" name="usuario" [(ngModel)]="usuario"
      #campoUsuario="ngModel" required>
      <app-mensagem *ngIf="campoUsuario.invalid" mensagem="usuário obrigatório"></app-mensagem>
    </div>

    <div class="form-group my-4">
      <input class="form-control" type="password" placeholder="Senha" name="senha" [(ngModel)]="senha"
      #campoSenha="ngModel" required>
      <app-mensagem *ngIf="campoSenha.invalid" mensagem="senha obrigatória"></app-mensagem>
    </div>

    <button class="btn btn-primary btn-block" type="submit">Login</button>
  </form>
</div>
