<h2>Course List</h2>

<body class="bloco">

<table class="tabela">

  <div class="coluna-tabela">
    <thead class="linhas">
      <tr >
      <th>Linguagem</th>
      <th>Prioridade</th>
      <th>Meta</th>
    </tr>
  </thead>
  <tbody class="linhas" >
    <tr>
      <td>Java</td>
      <td>alta</td>
      <td>Jul/2022</td>
    </tr>
    <tr>
      <td>Javascript</td>
      <td>alta</td>
      <td>Jan/2022</td>
    </tr>
    <tr>
      <td>Angular</td>
      <td>alta</td>
      <td>Jan/2022</td>
    </tr>
  </tbody>
</div>
</table>

<div>
<ul>
  <a href=><li class="lista">Foco</li></a>
  <a href=""><li class="lista">Disciplina</li></a>
  <a href=""><li class="lista">Prática</li></a>
</ul>
</div>

</body>
